.login-cover-image {
  height: 90vh;
  display: block;
  margin: 0 auto;
  width: 100%;
}
// .login-section {
//   margin-top: calc(0rem - var(--header-height) - 1rem);
//   margin-left: calc(0rem - var(--nav-width) - 2rem);
//   height: 100vh;
//   width: 100vw;
// }
.login-header {
  height: 5vh;
}
.login-box-shadow {
  // box-shadow: -10px -10px 20px 0 rgba(0, 0, 0, 0.2),
  //   10px 10px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.logo > img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2rem;
  border-radius: 19px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.logo-slogan {
  font-family: cursive;
  margin-top: 1rem;
  padding: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.login-form {
  padding: 1rem 2rem 2rem 2rem;
}
.submit-button {
  width: 100% !important;
  height: 2.5rem !important;
}
.forgot-button {
  padding: 0 !important;
  float: right !important;
}
.google {
  background-color: white;
  color: #737373;
  border-color: #737373;
}
.google:hover {
  background-color: #B9B9BA;
  color: white;
  border-color: #B9B9BA;
}
.login-form-card {
  border: 0;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.social-media-name {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-weight: bold;
  color: #737373;
}
.register-button{
  padding: 0 !important;
}
hr{
  margin: 0.4rem 0 0.4rem 0!important;
}
.show-password{
  line-height: inherit;
}
.show-password-wrapper{
  cursor: pointer;
}